# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Test files (if you don't want to track them)
test_*.py

# Personal data
movies.json
pmt.log
logs/
*.log
# IDE settings
.vscode/
.idea/
.ipynb_checkpoints/
# macOS system files
.DS_Store
# Virtual environment
.venv/
.venv/*
# Ignore all files in .venv except the .gitignore itself
!.venv/.gitignore
